.btn-main {
  height: 44px;
  font-size: 16px;
  padding: 0 30px;
  border-radius: 3px;
  background-color: var(--color-blue-button);
  color: var(--color-background);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s;
}
.btn-main:hover {
  background-color: var(--color-blue-hover);
}
.btn-main:active {
  transform: scale(0.95);
}
.btn-main.btn-main_page {
  background-color: var(--color-button-page);
}
.btn-main.btn-main_page:hover {
  outline: 0;
  background-color: var(--color-button-pag-hover);
}
.btn-main.btn-main_page:active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-tel {
  height: 74px;
  gap: 10px;
  padding: 0 20px;
  color: var(--color-unit);
  border: dashed 2px var(--color-dashed);
  font-size: 22px;
  border-radius: 9px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn-tel span {
  color: var(--color-blue-button);
  font-weight: 500;
}
.btn-tel svg {
  width: 24px;
}
.btn-tel svg path {
  fill: var(--color-fill);
}