.card-wrapper {
  display: flex;
  align-items: flex-start;
}
.card-slider {
  display: flex;
}
.tab-container-card {
  width: 65%;
}
.card-for {
  width: 77%;
}
.card-nav {
  width: 23%;
}
.card-nav__item,
.card-for__item {
  display: none;
}
.card-for__item {
  cursor: url(../../assets/img/lense.png), zoom-in;
}
.card-nav__item {
  cursor: pointer;
}
.card-nav__item:first-child,
.card-for__item:first-child {
  display: block;
}
.card-nav__item img,
.card-for__item img {
  width: 100%;
  height: auto;
  transition: all 0.3s;
  display: block;
}
.card-nav__item {
  padding: 0 6px;
  margin-bottom: 6px;
  display: block;
}
.card-nav__item:hover img {
  opacity: 0.8;
}
.card-nav__item:active img {
  transform: scale(0.95);
}
.card-nav {
  max-height: 390px;
  overflow: auto;
}
.card-nav::-webkit-scrollbar {
  width: 8px
}
.card-info {
  padding-left: 40px;
  flex: 1;
}
.title-card {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-main);
}
.card-brand {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.card-brand a {
  margin: 0 auto;
  color: var(--color-blue);
  border-bottom: solid 1px var(--color-page-default);
}
.card-additional {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: solid 1px var(--color-border-block);
}
.card-additional__title {
  font-size: 17px;
  margin-bottom: 28px;
}
.card-additional .btn-main {
  width: 100%;
}
.card-info__subtitle {
  margin-bottom: 20px;
}
.card-select {
  max-height: 154px;
  padding: 10px;
  border: solid 2px var(--color-border-light);
  background-color: #fff;
  overflow: auto;
}
.card-select__item {
  padding: 10px 10px 10px 80px;
  margin-bottom: 8px;
  display: block;
  color: var(--color-body);
  position: relative;
  transition: all 0.3s;
}
.card-select__image {
  width: 60px;
  height: 40px;
  top: 8px;
  left: 8px;
  position: absolute;
  display: block;
}
.card-select__title {
  font-size: 17px;
    font-weight: 500;
    display: block;
}
.card-select__descr {
  font-size: 12px;
  color: var(--color-descr);
  display: block;
  width: 100%;
}
.card-select__item:hover,
.card-select__item.active {
  background-color: var(--color-ligh-gray);
}
.page-card .wrap-products {
  padding-top: 40px;
}
.tab-pane-card {
  display: none;
}
.tab-pane-card:first-child {
  display: block;
}

@media (max-width: 1200px) {
  .card-nav {
    max-height: 312px;
  }
  .card-info {
    padding-left: 25px;
  }
  .title-card {
    font-size: 18px;
  }

}
@media (max-width: 992px) {
  .card-wrapper {
    display: block;
  }
  .tab-container-card {
    width: 100%;
  }
  .card-info {
    width: 100%;
    padding: 0;
  }
  .card-nav {
    max-height: 365px;
}
.card-slider {
  margin-bottom: 20px;
}
}

@media (max-width: 768px) {
  .card-slider {
    display: block;
  }
  .card-for {
    width: 100%;
  }
  .card-nav {
    width: initial;
    margin-top: 6px;
    margin-right: -15px;
    max-height: initial;
    display: flex;
  }
  .card-nav__list {
    display: flex;
    align-items: center;
  }
  .card-nav__item {
    flex: none;
  }
  .card-nav__item img {
    width: 148px;
    height: auto;
  }
  .card-nav::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .title-card {
    font-size: 20px;
}
}