
.header {
  border-bottom: 2px var(--color-page-border) solid;
  position: fixed;
  z-index: 900;
  background: var(--color-background);
  transition: all 0.3s;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.header.fixed {
  transform: translateY(-22px);
}
.header__top {
  background-color: var(--color-ligh-gray);
  border-bottom: solid 1px var(--color-border-color);
  font-size: 14px;
  color: var(--color-text-color);
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.region-main {
  gap: 8px;
  display: flex;
  align-items: center;
}
.region-main__value::after {
  content: '';
  margin: 1px 0 0 6px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-top: 3px solid #a7a7a7;
  vertical-align: middle;
  display: inline-block;
}
.region-main__value.active::after {
  margin: -1px 0 0 6px;
  border-top: 0;
  border-bottom: 3px solid #a7a7a7;
}
.region-main__value {
  cursor: pointer;
}
.region-main__value:hover {
  color: var(--color-blue);
}
.region-main__value:hover::after {
  border-top-color: var(--color-blue);
}
.region-main__dropdown {
  width: 408px;
  background-color: var(--color-background);
  border-radius: 0 0 6px 6px;
  padding: 8px;
  top: 100%;
  left: 0;
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, .2);
  z-index: 1;
  position: absolute;
  display: none;
}
.region-main__wrap {
  display: flex;
  flex-wrap: wrap;
}
.region-main__dropdown a {
  width: 50%;
  padding: 5px 15px;
  line-height: 27px;
  color: var(--color-links);
  border: solid 1px var(--color-page-border);
  display: block;
}
.region-main__dropdown a:hover {
  background-color: var(--color-ligh-gray);
  text-decoration: underline;
}
.region-main__dropdown a.active {
  background-color: var(--color-blue);
  color: var(--color-background);
}
.header__links li::after {
  content: " ";
  width: 1px;
  height: 12px;
  margin: 4px 20px;
  background-color: var(--color-blue);
  display: inline-block;
  vertical-align: top;
}
.header__links ul {
  display: flex;
  align-items: center;
}
.header__links li:last-child:after {
  display: none;
}
.header__links a:hover {
  color: var(--color-links);
  text-decoration: underline;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.btn-header {
    margin: 9px;
    padding: 0 8px;
    gap: 10px;
    border: 0;
    outline: 0;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-page-default);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: all 0.3s;
}
.btn-header:hover {
  text-decoration: underline;
  color: var(--color-blue);
}
.btn-header.btn-header_phone {
  font-size: 21px;
  line-height: 34px;
  color: var(--color-page-custom);
}
.btn-header.btn-header_phone span {
  color: var(--color-blue);
}
.header__middle {
  padding: 12px 0;
}
.btn-catalog {
  width: 266px;
  height: 28px;
  padding: 0 30px 0 73px;
  font-size: 16px;
  line-height: 18px;
  margin-right: 24px;
  color: #fff;
  text-align: left;
  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-catalog__arrow {
  content: '';
  top: 12px;
  right: 10px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top: 4px solid var(--color-background);
    display: block;
    transition: top .2s ease;
    position: absolute;
}
.btn-catalog.active .btn-catalog__arrow {
  top: 12px;
  border-bottom: 4px solid #fff;
  border-top: 0;
}
.btn-catalog:hover {
  background: var(--color-blue-hover);
}
.btn-catalog:hover::after {
  border-left-color: var(--color-blue-hover);
}
.btn-catalog::after {
  content: '';
  top: 0;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  position: absolute;
  display: block;
  right: -8px;
  border-left: 8px solid var(--color-blue);
  transition: all 0.3s;
}
.btn-catalog::before {
  content: '';
  top: 0;
  left: -31px;
  width: 84px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../img/ic_catalog.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
}
.menu {
  margin-top: 4px;
  gap: 5px;
  display: flex;
  align-items: center;
}
.menu a {
  padding: 4px 10px;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-page);
  display: block;
  position: relative;
}
.menu a::after {
  content: '';
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-blue);
  transition: width .25s ease-out;
  position: absolute;
  display: block;
}
.menu a:hover::after {
  left: 0;
  width: 100%;
}
.menu__discount a {
    font-weight: 500;
    color: var(--color-background);
    background: var(--red);
}
.menu__hits a {
  color: var(--color-blue);
  font-weight: 500;
}
.contacts__links {
  gap: 10px;
  top: 2px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  z-index: 101;
}
.contacts__links a {
  padding: 4px 13px;
  font-size: 16px;
  line-height: 18px;
  border-radius: 2px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-background);
  background: var(--color-blue);
}
.header__bottom .header__wrapper {
  justify-content: flex-start;
}
.sandwich span {
	display: block;
}
.sandwich.active {
  background-color: var(--color-bg-sanwdich);
}
.sandwich {
    width: 30px;
    height: 30px;
    padding-top: 5px;
    margin-right: 5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items:center;
	border-radius: 50%;
	background: var(--color-blue);
	z-index: 1;
	display: none;
	flex: none;
	cursor: pointer;
  transition: all 0.3s;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 14px;
	height: 2px;
	border-radius: 0;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-bottom {
	position: relative;
	top: 7px;
	width: 14px;
	height: 2px;
	border-radius: 0;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-footer {
	position: relative;
	top: 10px;
	width: 14px;
	height: 2px;
	border-radius: 0;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sandwich.active .sw-topper {
	top: 9px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 5px;
	transform: rotate(-45deg); 
}
.menu-dropdown {
  padding-top: 20px;
  height: 390px;
  max-height: 100vh;
  margin-top: 2px;
  box-shadow: 0 3px 5px rgba(12, 12, 12, .2);
  top: 100%;
  left: 0;
  width: 100%;
  overflow: auto;
  background: var(--color-background);
  position: absolute;
  z-index: 100;
  display: none;
}
.list-catalog {
  display: flex;
  flex-wrap: wrap;
}
.list-catalog > li {
  width: 33.3333%;
}
.list-catalog > li > a {
  font-size: 18px;
  padding-bottom: 14px;
  display: block;
}
.list-catalog a {
  line-height: 18px;
  transition: all 0.3s;
  letter-spacing: -.4px;
  color: var(--color-links-default);
}
.list-catalog a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}
.list-catalog a span {
  font-size: 12px;
  color: #707475;
}
.list-catalog li {
  margin-bottom: 6px;
}
.list-catalog > li > a > span {
  font-size: 14px;
}
.list-catalog li ul {
  padding-bottom: 10px;
}
.list-catalog li ul li {
  padding-left: 21px;
  position: relative;
}
.list-catalog ul li::before {
  position: absolute;
  display: block;
  content: " ";
  top: 10px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid var(--color-blue);
  border-radius: 50%;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background: #111;
  z-index: 50;
  display: none;
}
.menu-dropdown__mobile {
  display: none;
}
.search-form {
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  z-index: 10;
  display: none;
  background: #fff;
}
.header__middle .container {
  position: relative;
}
.search-form input {
    padding: 10px 15px;
    font-size: 16px;
    height: 40px;
    border: solid 2px #d8d8d8;
    border-radius: 4px;
    width: 100%;
    background: #fff;
}
.search-form .btn-main {
  width: 120px;
  height: 33px;
  top: 3px;
  right: 3px;
  text-transform: none;
  position: absolute;
  background: var(--color-blue);
}
.search-form__content {
  padding-left: 40px;
  position: relative;
}
.search-form__close {
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: absolute;
  transition: all 0.3s;
}
.search-form__close::after, 
.search-form__close::before {
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #b71e54;
  position: absolute;
}
.search-form__close::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.search-form__close::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.search-form__close:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.search-form__close:active {
  -webkit-transform: scale(.8) rotate(90deg);
  -ms-transform: scale(.8) rotate(90deg);
  transform: scale(.8) rotate(90deg);
}


@media (max-width: 1200px) {
  .logo {
    width: 150px;
    display: block;
  }
  .btn-header {
    margin: 5px;
    padding: 0 6px;
    gap: 10px;
    border: 0;
    outline: 0;
    font-size: 14px;
    line-height: 27px;
  }
  .btn-header.btn-header_phone {
    font-size: 18px;
    line-height: 30px;
  }
  .btn-catalog {
    width: 240px;
  }
  .menu a {
    padding: 4px 8px;
    font-size: 14px;
    line-height: 22px;
  }
  .contacts__links a {
    padding: 3px 11px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 2px;
  }
  .card-product__price {
    font-size: 16px;
  }
  .wrapper {
    padding-top: 121px;
  }
}
@media (max-width: 992px) {
  .header__bottom {
    display: none;
  }
  .btn-header {
    font-size: 0;
    margin: 0;
  }
  .btn-header.btn-header_phone {
    font-size: 0;
  }
  .header__buttons {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .header__middle .header__wrapper {
    padding: 15px 0;
    justify-content: center;
  }
  .btn-header_basket {
    margin-left: auto;
  }
  .header__middle {
    padding: 0;
  }
  .sandwich {
    display: flex;
  }
  .btn-header.btn-header_phone span {
    display: none;
  }
  .logo {
    position: relative;
    z-index: 2;
  }
  .menu-dropdown {
    display: block !important;
    background: transparent;
    padding: 0;
    pointer-events: none;
    max-height: calc(100vh - 72px);
    height: calc(100vh - 72px);
    transform: translate3d(-100vw, 0, 0);
    visibility: hidden;
    margin-top: 0;
    opacity: 0;
    transition: all 0.2s;
  }
  .menu-dropdown.active {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  .menu-dropdown * {
    pointer-events: initial;
  }
  .menu-dropdown .container {
    width: 300px;
    margin: 0;
    padding: 0;
    background: var(--color-background);
  }
  .list-catalog {
    display: block;
  }
  .list-catalog > li {
    width: 100%;
  }
  .list-menu li a,
  .list-catalog > li > a,
  .list-catalog a {
    padding: 10px 20px;
    border-bottom: solid 1px #e4e4e4;
    font-size: 16px;
    line-height: 18px;
    display: block;
    width: 100%;
  }
  .list-catalog li ul li {
    padding-left: 0;
  }
  .list-catalog li ul {
    padding: 0;
    background-color: var(--color-back-menu);
  }
  .list-catalog li ul li::before {
    display: none;
  }
  .list-catalog li {
    margin: 0;
  }
  .list-menu li.list-menu__sales a {
    color: var(--color-blue);
    font-weight: 500;
  }
  .list-menu li a:hover {
    color: var(--color-blue);
    background-color: #ececec;
  }
  .list-menu {
    padding: 10px 0;
  }
  .menu-dropdown__button {
    width: 100%;
    margin: 30px 0 0 0;
    padding: 15px 20px;
    color: #e8e9ea;
    text-decoration: none;
    background-color: var(--color-button-menu);
    display: block;
  }
  .menu-dropdown__mobile {
    display: block;
  }
  .list-catalog a span {
    display: none;
  }
  .body_menu {
    overflow: hidden;
  }
  .header {
    display: flex;
    border-width: 1px;
    flex-direction: column-reverse;
  }
  .header__top {
    border-top: solid 1px var(--color-border-color);
  }
  .region-main__dropdown a {
    width: 100%;
  }
  .region-main__wrap {
    display: block;
  }
  .header.fixed {
    transform: none;
  }
  .search-form .btn-main {
    width: 92px;
  }
  .search-form input {
    padding: 10px 12px;
    font-size: 14px;
  }
  .search-form__close {
    left: 5px;
  }
  .search-form {
    padding-top: 2px;
  }
  .wrapper {
    padding-top: 74px;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 550px) {
  .btn-header_call {
    display: none;
  }
  .logo {
    width: 133px;
  }
  .header__links li:nth-child(2) {
    display: none;
  }
  .header__links li::after {
    display: none;
  }
  .region-main__dropdown {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .btn-header_location {
    display: none;
  }
}